<h1>Login Page</h1>

@ViewBag.msg

@Html.ValidationSummary()

<form method="post">
    Name : <input type="text" name="name" /><br /><br />
    Email : <input type="email" name="email" /><br /><br />
    Password : <input type="password" name="password" /><br /><br />
    Confirm Password : <input type="password" name="cpassword" /><br /><br />
    <input type="submit" value="send" />
</form>

<a href="/Home/Login">Go to Login?</a>