<div>
    @ViewBag.msg
    <form method="post">
        Password : <input type="password" name="password" /> <br /><br />
        Confirm Password : <input type="password" name="cpassword" /> <br /><br />
        <input type="submit" value="Reset" />
    </form>
</div>